\# added these lines.
#ad
    - if current_user
        Signed in as #{current_user['username']} | #{link_to "Logout", '/logout'}
    - else
        = link_to 'Login', '/login'
        | #{link_to 'Signup', '/signup'}

= render :partial => "dashboard_navbar"
= render :partial => "dashboard_sidebar"

.col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main#page-content
