!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %title FiveHundred Test
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags
    %body
        = yield
        - if current_user
            = javascript_include_tag 'application', 'data-turbolinks-track' => true
            :javascript
                Fivehundred.Test.LoggedUser = new Fivehundred.Test.Models.User(#{current_user.as_json.to_json})