!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %title FiveHundred Test
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags
    %body
        = yield
        - if current_user
            = javascript_include_tag 'application', 'data-turbolinks-track' => true
            :javascript
                Fivehundred.Test.LoggedUser = new Fivehundred.Test.Models.User(#{current_user.as_json.to_json})
        :javascript
            !function ($) {
                $(document).on("click","ul.nav li.parent > a > span.icon", function(){
                    $(this).find('em:first').toggleClass("glyphicon-minus");
                });
                $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
            }(window.jQuery);

            $(window).on('resize', function () {
                if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
            })
            $(window).on('resize', function () {
                if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
            })